@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color:#1A2A33;
    border: 0;
}

.imgposition{
    position:absolute;
    top:13% ;
    left: 14%;
    width:50px;
    margin: 0;
    border: 0;
}

.gwidth {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 35px;
    background-color: #1F3641;
    border-radius: 7px;
    border-bottom: 5px solid #0e161b;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #A8BFC9;
    font-weight: 900;
  }
  
#turnposition{
font-size: 11.5px;
}

.x{
    display: block;
    height: 15px;
    filter:grayscale(100%) brightness(100%);
    padding-right: 7px;
}

.o{
    display:none;
    height: 16px;
   filter: grayscale(1) brightness(100%);
   padding-right: 7px;
}

.icon-restart{
    padding: 5px;
    margin: 0;
     background-color:#A8BFC9;
     position: absolute;
    top:12.5%;
    display: flex;
   justify-content: center;
   align-items: center;
    border-radius: 5px;
    width:30px;
    height:25px;
    right:14%;
    text-transform: uppercase;
    border-bottom: 5px solid#70828a;
    cursor: pointer;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns:repeat(3, auto);
    gap: 10px;
    cursor: pointer;
}

.cell{
    width: 80px;
    height: 80px;
    background-color: #1F3641;
    border-radius: 10px;
    border-bottom: 5px solid #0d181d;
    display:flex;
    align-items: center;
    justify-content: center;
}

.cellresult1, .cellresult2, .cellresult3{
    width: 80px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    text-transform: uppercase;

}
.cellresult1{
    background-color: #31C3BD;
}
.cellresult2{
    background-color: #A8BFC9;
}
.cellresult3{
    background-color:#F2B137;
}

.res1, .res2, .res3{
    position: relative;
    bottom:12px;
font-weight: bold;

}

.position{
    position: relative;
    top:16px;
    font-size: 13px;
}

.imgsize_3{
    width: 15px;
}

#winmessage1 {
    position: fixed;
    width: 100%;
    height: 230px;
    top: 35%;
    background-color: #1f3b47;
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#winmessage2 {
    position: fixed;
    width: 100%;
    height: 230px;
    top: 35%;
    background-color: #1f3b47;
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#winmessage3 {
    position: fixed;
    width: 100%;
    height: 230px;
    top: 35%;
    background-color: #1f3b47;
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
}

a{
    color: inherit;
}
.word{
position: absolute;
top: 10%;
color: #A8BFC9;
}

.word3{
    position: absolute;
    top: 20%;
    color: #A8BFC9;
    font-size: 28px;
    font-weight: bold;
    }

.owins, .xwins {
margin-right: 15px;
width: 3.8%;
}

#color1{
    color: #F2B137;
    font-size: 22px;
}
#color2{
    color: #31C3BD;
    font-size: 22px;
}

#quit {
    background-color: #A8BFC9;
    border-radius: 5px;
    border-bottom: 4px solid #5e6c72;
    height: 17%;
    width: 5%;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: absolute;
    bottom: 10%;
    left: 43%;
}

#next {
    background-color: #F2B137;
    border-radius: 10%;
    border-bottom: 4px solid #b68529;
    height: 17%;
    width: 9%;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    right: 41%;
    cursor: pointer;
}

#quit3{
    background-color: #A8BFC9;
    border-radius: 5px;
    border-bottom: 4px solid #5e6c72;
    height: 17%;
    width: 3.6%;
    font-weight: bold;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: absolute;
    bottom: 30%;
    left: 44%;
}

#next3{
    position: absolute;
    bottom: 30%;
    background-color: #F2B137;
    border-radius: 10%;
    border-bottom: 4px solid #b68529;
    height: 17%;
    width: 7.5%;
    font-weight: bold;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 44%;
    cursor:pointer;
    }
    
.winning-o {
    background-color: #F2B137;
  }

  .winning-x {
    background-color: #31C3BD;
  }

.highlight {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(189deg) brightness(99%) contrast(101%);
  }

  @media screen and (max-width:300px) {
    .imgposition{
    left: 2%;
    top: 15%;
}

.icon-restart{
    right:2%;
    top: 15%;
}

.gwidth {
    top: 14.5%;
  }
  }

   @media screen and (min-width:400px) {
    .imgposition{
    left: 17.5%;
    top: 22%;
}

.icon-restart{
    right:17.5%;
    top: 22%;
}

.gwidth {
    top: 21.5%;
  }
  }

   @media screen and (min-width:500px) {
    .imgposition{
    left: 26%;
    top: 20%;
}

.icon-restart{
    right:26%;
    top: 20%;
}
.gwidth {
    top: 19.5%;
  }
  }
  
  @media screen and (min-width:700px) {
    .imgposition{
    left: 32%;
    top: 20%;
}

.icon-restart{
    right:32%;
    top: 20%;
}
.gwidth {
    top: 19.5%;
  }
  }

    @media screen and (min-width:800px) {
    .imgposition{
    left: 35%;
    top: 20%;
}

.icon-restart{
    right:35%;
    top: 20%;
}

  }

  @media screen and (min-width:1000px) {
    .imgposition{
    left: 38%;
    top: 16%;
}

.icon-restart{
    right:38%;
    top: 16%;
}

.gwidth {
    top: 15.5%;
  }
  }

  @media screen and (min-width:1200px) {
    .imgposition{
    left: 40.5%;
    top: 18%;
}

.icon-restart{
    right:40.5%;
    top: 18%;
}

.gwidth {
    top: 17.5%;
  }
  }